.horario {
    background-color: $blue;
    color: white;
    width: 100%;
    display: block;
    h2 {
        font-size: 2.4rem;
        font-family: $lato;
    }
    table {
        border: 2px solid $pink;
        thead {
            background-color: $pink;
            th {
                border: none;
            }
        }
        tbody {
            td {
                border: none;
                padding: 0.35rem;
                font-family: $lato;
                font-size: 1.2rem;
            }
        }
    }
    .bg-horario {
        background-image: url(../img/bg_horarios.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 400px;
   }
}
